.popup__exit-zoom {
    position: absolute;
    top: -40px;
    right: -40px;
    /* background: url(../../../../images/exit.svg)no-repeat; */
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup__exit-zoom {
        top: 100px;
        right: 0;
    }
}