.profile__avatar {
  border-radius: 50%;
  padding: 0;
  margin: 0 30px 0 0;
  object-fit: cover;
  object-position: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-sizing: border-box;
  grid-area: avatar;
}

@media only screen and (max-width: 767px) {
  .profile__avatar {
    justify-self: center;
    margin: 0 0 22px 0;
  }
}