.popup__exit {
    border: none;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../../../images/Close_Icon.svg); 
}

@media (max-width:600px) {
    .popup__exit {
        left: 262px;
        top: -37px;
        background: url(../../../images/exit.svg);
        width: 20px;
        height: 20px;
    }
}

.popup__exit:hover {
    opacity: 60%;
}