.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    margin-top: 45px;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .header {
        margin: 22px 0px 26px 0px;
    }
}